<%= render 'shared/projects_header', params: { active: 'potential'}  %>
<div class="ui segment">
    <div class="ui mini modal">
        <div class="header">PROJECT NAME</div>
        <div class="content">
            <p>You are about to accept the project NAME. Please indicate how many workers that you need.</p>
            <form action="/projects/potential/accept" method="post" class='ui form'>
                <input type="hidden" name="fln_id" value=''>
                <input type="hidden" name="name" value=''>
                <input type="hidden" name="cost" value=''>
                <input type="hidden" name="description" value=''>
                <div class="field">
                    <label for="count">Number of workers</label>
                    <input type="text" name="worker_count" value='' placeholder='Number of workers'>
                </div>
        </div>
        <div class="actions">
            <input type="submit" value="Accept" class='ui green button'>
            <div class="ui red button"><i class="icon close"></i>Cancel</div>
        </div>
        </form>
    </div>
    <div class="ui header no margin">Project Name
        <div class="ui basic segment right floated no margin no padding">
            <div class="ui header right aligned" style='margin-bottom: 10px;'><span style='font-size: 16px; margin-left: 2px;'>&#x20B1;</span> 10,000.00</div>
            <div onclick="openModal($(this).parent().parent().prev());" class="ui green small button"><i class="icon check"></i>Accept</div>
            <div class="ui red small button "><i class="icon close"></i>Reject</div>
        </div>
        <div class="sub header"><i class="icon user" style='margin: 0;'></i>Employer</div>
        <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
    </div>
    <div class="ui label small">Carpenter</div>
    <div class="ui divider"></div>
    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi porro in beatae eaque ratione, ad dolorem quos doloremque iure? Deleniti nam provident eligendi non minus praesentium ratione eaque dignissimos.</div>
    
</div>