<div class="ui vertical menu">
    <a class="primary item">
      <h4 class="ui header">Magic Burger</h4>
      <p>Check out our new promotions</p>
    </a>
    <a class="item">
      <h4 class="ui header">Magic Waffle</h4>
      <p>Check out our collection of coupons</p>
    </a>
    <a class="item">
      <h4 class="ui header">Magic French Fries</h4>
      <p>Visit our rebate forum for information on claiming rebates</p>
    </a>
  </div>
