<%= render 'shared/projects_header', params: { active: 'ongoing' }%>
<div class="ui segment">
    <div class="ui header no margin">Project Name
        <div class="ui basic segment right floated no margin no padding">
            <div class="ui header right aligned" style='margin-top: 0;margin-bottom: 0px;'><span style='font-size: 16px; margin-left: 2px;'>&#x20B1;</span> 10,000.00</div>
            <div class="ui header right aligned" style='margin-bottom: 5px; margin-top: 0;'>20 Carpenters Filled</div>
            <div class="ui button blue small right floated">View Listing</div>
        </div>
        <div class="sub header"><i class="icon user" style='margin: 0;'></i>Employer</div>
        <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Alabang, Muntinlupa City</div>
    </div>
    <div class="ui label small">Carpenter</div>
    <div class="ui divider"></div>
    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nisi porro in beatae eaque ratione, ad dolorem quos doloremque iure? Deleniti nam provident eligendi non minus praesentium ratione eaque dignissimos.</div>
</div>

