<%= render 'shared/projects_header', params: { active: 'potential'}  %>
<% @projects.each do |project| %>
<div class="ui segment">
    <div class="ui mini modal">
        <div class="header"><%= project['title'] %></div>
        <div class="content">
            <p>You are about to accept the project '<%= project['title']%>'. Please indicate how many workers that you need.</p>
            <form action="/projects/potential/accept" method="post" class='ui form'>
                <input type="hidden" name="fln_id" value='<%= project['id'] %>'>
                <input type="hidden" name="name" value="<%= project['title']%>">
                <input type="hidden" name="cost" value='<%= project['budget']['maximum'] - project['budget']['minimum']%>'>
                <input type="hidden" name="description" value='<%= project['preview_description'] %>'>
                <div class="field">
                    <label for="count">Number of workers</label>
                    <input type="text" name="worker_count" value='' placeholder='Number of workers'>
                </div>
        </div>
        <div class="actions">
            <input type="submit" value="Accept" class='ui green button'>
            <div class="ui red button"><i class="icon close"></i>Cancel</div>
        </div>
        </form>
    </div>
    <div class="ui header no margin"><%= project['title']%>
        <div class="ui basic segment right floated no margin no padding">
            <div class="ui header right aligned" style='margin-bottom: 10px;'><span style='font-size: 16px; margin-left: 2px;'>&#x20B1;</span> <%= project['budget']['maximum'] - project['budget']['minimum']%></div>
            <div onclick="openModal($(this).parent().parent().prev());" class="ui green small button"><i class="icon check"></i>Accept</div>
            <div class="ui red small button "><i class="icon close"></i>Reject</div>
        </div>
        <div class="sub header"><i class="icon user" style='margin: 0;'></i>jdlives</div>
        <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Manila, Philippines</div>
    </div>
    <div class="ui label small">Carpenter</div>
    <div class="ui divider"></div>
    <div class="description"><%= project['preview_description'] %></div>
</div>
<% end %>