<%= render 'shared/projects_header', params: { active: 'unfilled' } %>
<% @projects.each do |project| %>
<div class="ui segment">
    <div class="ui header no margin"><%= project.name %>
        <div class="ui basic segment right floated no margin no padding">
            <div class="ui header right aligned" style='margin-top: 0;margin-bottom: 0px;'><span style='font-size: 16px; margin-left: 2px;'>&#x20B1;</span> <%= project.cost %></div>
            <div class="ui header right aligned" style='margin-bottom: 5px; margin-top: 0;'></div>
            <div class="ui button blue small right floated">View Listing</div>
        </div>
        <div class="sub header"><i class="icon user" style='margin: 0;'></i>jdlives</div>
        <div class="sub header"><i class="icon marker" style='margin: 0;'></i>Manila, Philippines</div>
    </div>
    <div class="ui label small">Carpenter</div>
    <div class="ui tiny progress indicating top" data-value='5' data-total='20' style='margin-bottom: 24px;'>
        <div class="bar"></div>
        <div class="label"><%= project.listing.workers.count %>/<%= project.listing.worker_count %> Carpenters Filled</div>
    </div>
    <div class="description"><%= project.description %> </div>
</div>
<% end %>